.country{
    border: 5px solid salmon;
    margin: 10px;
    padding: 10px;
}
.flag{
    width: 20%;
    /* height: 200px; */
}
.btn{
    background-color: lightblue;
    color:black;
    height: 50px;
    width: 200px;
    cursor: pointer;
}